body{

background-color: #d2b48c;
}
#app{
    text-align: center;
    font-size: 75px;
    line-height: 0.3;
}
#subtext{
    font-size: 50px;
    padding-left: 100px;
}
.myButton {
    margin-top: 250px;
}
#h1{

}
LVA1.png {
    height: 500px;
    width: 500px;
}
div.flex-container {
    display: flex;
    flex-direction: row;
}
{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 50px;
}
#h1{
    font-size: 50px;
    padding-left: 100px;
}
#links{
    text-align: left;
    font-size: 20px;
    padding-left: 200px;
}
#changer{
    text-align:left;
    top: 0;
    left: 0;
    position: fixed;
}

#thing{
    background-color: black;
    height: 40px;
    width: 40px;
}
.dark {
    background-color: #000;
    color: white;
    #thing {
        background-color: #d2b48c;
    }
    a {
        color: lime
    }
}
